*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-family: Poppins;
}

h1{
    font-size: 2rem;
    margin-top: 1rem;
    display: flex;
    justify-content: center;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 45rem;
}

#containerProdutos{
    border: 1px solid black;
    padding: 2rem;
    border-radius: 0.5rem;
}
.produtos{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 20rem;
    height: auto;
    gap: 1rem;
}

.disponiveis{
    font-size: 1rem;
    cursor: pointer;
}

.selecionar, .disponiveis{
    font-size: 1.2rem;
}

select{
    font-size: large;
    cursor: pointer;
}

button{
    background-color: rgb(0, 110, 255);
    padding: 1rem;
    font-size: 1.2rem;
}
button:hover{
    cursor: pointer;
}


