html,body{
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Poppins;
}

h1{
    font-size: 2rem;
    margin-top: 1rem;
    display: flex;
    justify-content: center;
}

header{
    padding: 1rem;
    margin-top: -1rem;
    background-color: rgb(0, 110, 255);
    transition: 0.3s;
}

header:hover{
    background-color: rgb(0, 174, 255);
}

main{
    display: flex;
    justify-content: center;
    align-items: flex-start; /* Ajusta o alinhamento para o topo */
    min-height: calc(100vh - 130px);  /* Ajusta para ocupar a tela menos com o header e footer */
    padding: 2rem 0;
}

#containerProdutos{
    border: 1px solid black;
    padding: 2rem;
    border-radius: 0.5rem;
}
.produtos{
    padding: 1rem;
    margin-bottom: 1rem;
    border-radius: 0.5rem;
    background-color: #f5f5f5;
    gap: 1rem;
}

.disponiveis{
    font-size: 1rem;
    cursor: pointer;
}

.selecionar, .disponiveis{
    font-size: 1.2rem;
}

select{
    font-size: large;
    cursor: pointer;
}

button{
    background-color: rgb(0, 110, 255);
    padding: 1rem;
    font-size: 1.2rem;
    transition: 0.5s;
}
button:hover{
    cursor: pointer;
    background-color: rgb(46, 134, 249);
}

/* Footer fixo ao final */
footer {
    background-color: rgb(2, 62, 140);
    color: white;
    padding: 2rem;
    text-align: center;
    position: relative;  /*Se eu não me engano o fixed tbm serve*/
    bottom: 0;
    width: 100%;
}

footer h4 {
    margin: 1rem;
    cursor: pointer;
}

footer p {
    color: white;
    margin-top: 1rem;
}

